*{
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(216,177,210,1) 25%, rgba(201,179,215,1) 42%, rgba(219,119,230,1) 57%, rgba(207,125,190,1) 84%, rgba(204,163,203,1) 100%);}


#parent{
   
    height: 50vh;
}
#loading{
   
    height: 100vh;
    background: transparent;
}
.score{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    background: transparent;
    
}
.start{
    margin-left: 45%;
    width: 10%;
    padding: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: center;
}